.landing-page-wrapper {
    overflow-x: hidden;
}

.hero-section {
    background: url("../../../assets/images/swimming_pole.jpg") no-repeat center center/cover;
    border-radius: 30px;
    height: 60vh;
    padding: 10px 10px;
    margin: 0 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .dark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 1;
        border-radius: 30px;
    }

    .hero-content {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        z-index: 3;

        .hero {
            font-size: 3rem;
            color: #fff;
            text-align: center;
            line-height: 1.3;
        }

        .body {
            color: #fff;
            font-weight: 900;
        }

        .book_button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            display: none;

            .book_btn {
                background: transparent;
                padding: 10px 25px;
                border-radius: 30px;
                color: rgba($color: #fff, $alpha: 1.0);
                border: 2px solid rgba($color: #fff, $alpha: 1.0);
                font-weight: 600;
                transition: all ease .3s;

                &:hover {
                    background-color: rgba($color: #fff, $alpha: 1.0);
                    color: rgba($color: #000000, $alpha: 1.0);
                    border: none;
                }
            }
        }
    }

}

#nav_section {
    background-color: #fff;
    padding: 10px 20px;
}


// hotel rooms
.hotel-cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    gap: 13px;

    .hotel-card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 275px;
        height: 300px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 30px;
        transition: all ease .3s;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

        .hotel-image {
            position: relative;
            width: 100%;
            height: 70%;

            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                border-radius: 30px;
            }
        }

        .hotel-card-info {
            flex-grow: 1;
            height: 30%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            line-height: 1;
            padding: 3px 0;

            .hotel-card-title {
                font-size: 1.1rem;
                font-weight: bold;
            }

            .hotel-card-description {
                margin-top: 5px;
                font-size: 0.9rem;
                line-height: 1.1;
                color: rgba($color: #000000, $alpha: 0.3);
            }
        }

    }

    .hotel-card:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
}


// booking form

.booking-form {
    position: relative;
    padding: 10px 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .booking {
        display: flex;
        position: absolute;
        top: -60px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        padding: 15px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

        .form_control {
            display: flex;
            flex-direction: column;

        }

        hr {
            transform: rotate(90deg);
        }

        .button {
            border: none;
            padding: 20px;
            border-radius: 10px;
            margin-left: 10px;
            color: #fff;
            background-color: blue;
            font-weight: bold;
            opacity: 0.8;
            transition: ease all 0.2s;
        }

        .button:hover {
            opacity: 1;
        }
    }
}



// RESPONSIVENESS
@media only screen and (max-width: 900px) {

    .landing-page-wrapper {
        width: 100%;
    }

    .hero-section {
        margin: 0;
        border-radius: 0;

        .dark {
            border-radius: 0;
        }

        .hero {
            font-size: 2rem;
        }

        .book_button {
            display: block !important;

            .book_btn {
                padding: 10px;
            }
        }
    }

    .booking-form {
        display: none;
    }
}

// mobile screens
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .landing-page-wrapper {
        width: 100%;
    }

    .hero-section {


        .hero {
            font-size: 2rem !important;
            line-height: 1 !important;
        }

        .body {
            color: #fff;
            margin-top: 15px;
            font-size: 0.9rem;
        }

        
    }
}
